body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224, 224, 218)
}

.title {
    padding: 8px;
    text-align: center;
    background-color: rgb(228, 0, 0);
    color: white;
}

.navigation {
    list-style: none;
    margin: 0;
    background-color: rgb(12, 182, 12);
    padding: 8px;
    display: flex;
}

.navigation li {
    flex: 1;
}

a {
    border: 3px solid rgb(288, 0, 0);
    font-size: 30px;
    font-family: "Brush Script MT", cursive;
    font-weight: bold;
    color: rgb(168, 154, 11);
    display: block;
    background-color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin: 5px;
    
}

a:hover {
    background-color: grey;
    color: white;

}